*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(35, 148, 185);
}
header{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px black;
}
main{
    background-color: white;
    width: 500px;
    height: 300px;
    margin: auto;
    border-radius: 15px;
}
section#conteudo{
    padding: 20px;
}
select{
    display: block;
    margin-top: 25px;
    width: 200px;
    height: 150px;
    border: 1px solid black ;
}
section#res{
    width: 0px;
    height: 0px;
}
footer{
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    color: white;
}