body{
    background: rgb(50, 130, 238);
    font: normal 15pt arial;

}
header{
    color: white;
    text-align: center;

}
h1{
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.397);
}
img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
}
div{
    margin: 15px;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);

}
footer{
    color: white;
    text-align: center;
    font-style: italic;

}